<h1><%= title %></h1>

<form method="POST" action="">
    <div class="form-group">
        <label for="name">Genre: </label>
        <input 
        id="name" 
        class="form-control" 
        type="text" 
        placeholder="Fantasy, Poetry, etc." 
        name="name" 
        required="true" 
        value="<%= undefined === genre ? '' : genre.name %>">
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>
</form>

<% if (errors) { %>
    <ul>
        <% errors.map( (error) => { %>
            <li><%= error.msg %></li>
        <% }) %>
    </ul>
<% } %>