<h1><%= title %></h1>

<ul>
    <% genre_list.map( (genre ) => { %>
        <li>
            <a href="<%= genre.url %>"><%= genre.name %></a>
        </li>
    <% }) %>
    <% if (genre_list.length === 0) { %>       
        <li>There are no genres</li>
    <% } %>
</ul>